
.card {
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    list-style: none;
    overflow: hidden;
}

.card__title {
    font-family: 'Inter', Arial, sans-serif;
    max-width: 220px;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
}

.card__image {
    width: 282px;
    height: 282px;
}

.card__description {
    display: flex;
    background-color: white;
    color: black;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    justify-content: space-between;
}
.card__like-button {
    background: transparent url(../images/like-icon.svg) center no-repeat;
    width: 21px;
    height: 18px;
    border: none;
    cursor: pointer;
}
.card__like-button_active {
    background-image: url("../images/like-active.svg");
}
.card__like-button:hover {
    opacity: 60%;
    transition: opacity 0.25s linear;
}
.card__trash-button {
    background: transparent url(../images/trash.svg) center no-repeat;
    width: 19px;
    height: 16px;
    margin-left: 230px;
    margin-bottom: 600px;
    border: none;
    cursor: pointer;
    position: absolute;
}
.card__trash-button:hover {
    opacity: 60%;
    transition: opacity 0.25s linear;
}