.footer {
    width: 880px;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
}
.footer__copyright {
    color: #545454;
    line-height: 21.78px;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
}

@media screen and (max-width: 881px) {
    .footer {
        width: 580px;
    }
}

@media screen and (max-width: 581px) {
    .footer {
        width: 280px;
    }
}

@media screen and (max-width: 480px) {
    .footer {
        width: 282px;
        
    }
    .footer__copyright {
        line-height: 16.94px;
        font-size: 14px;
    }
}