.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
    padding: 0 19px;
    display: none;
    width: 100%;
    /* visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear; */
    /* justify-content: center; */
    /* align-items: center; */
    /* max-width: 880px; */
}

.modal > .modal__container {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.modal:hover > .modal__container {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}
/* .modal__close:active > .modal {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
} */

/* .modal.show {
    opacity: 1;
} */
/* .page > .modal {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}
.page:hover > .modal {
    visibility: visible;
    opacity: 1;
} */
/* .modal__container > .modal {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
} */


#preview-image-container {
    background-color: rgba(0,0,0,0);
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    /* background-image: none; */
}

.modal__image {
    max-width: 75vw;
    max-height:75vh;
    display: block;
    /* margin-left: calc(100% - 600px);
    margin-top: calc(100% - 530px); */

}
.modal__container-parent {
    position: absolute;
    display: flex;
}

#preview-modal-close {
    border: none;
    background-color: transparent;
    cursor: pointer;
    /* position: absolute; */
    display: block;
    /* top: calc(100% - 500px);
    left: calc(100% + 200px); */
    /* text-align-last: justify; */
    width: 32px;
    height: 32px;
    background-image: url("../images/close.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.preview__text {
    position: absolute;
    display: block;
    top: calc(100% - 5px);
    /* display: block; */
    
}



/* .modal > .modal_opened {
    opacity: 0;
    transition: opacity 0.5s linear;
    visibility: hidden;
} */
/* .modal__opened:active {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
} */

.modal_opened {
    display: flex;
    /* width: 100%;
    visibility: visible;
    opacity: 1; */
    /* transition-delay: 0s; */
}

.modal__container {
    position: relative;
    padding: 36px;
    background-color: #fff;
    margin: auto;
    border-radius: 10px;
    width: 362px;
    height: 260px;
    font-family: 'Inter', Arial, sans-serif;
    /* opacity: 0;
    transition: opacity 1s linear; */
}
/* .modal__container.show {
    opacity: 1;
} */

.modal__heading {
    color: black;
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 35px;
    margin-top: 0;
}

.modal__button {
    width: 361px;
    height: 52px;
    margin-top: 46px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 2px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 100;
    font-size: 17px;
}

.modal__input {
    max-width: 358px;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    height: 38px;
    display: block;
    padding: 0;
    margin-top: 17px;
    line-height: 15px;
    border-color: white;
    border-style: solid;
    border-bottom: 1px solid rgb(84, 84, 84, 0.2);

}


.modal__close {
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    bottom: calc(100% + 5px);
    left: calc(100% + 5px);
    width: 32px;
    height: 32px;
    background-image: url("../images/close.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (max-width: 581px) {
    
    .modal__container {
        width: 229px;
        height: 260px;
        padding-left: 20px;
        transition: 0.25s;
    }
    .modal__heading {
        font-size: 18px;
        margin-bottom: 47px;
    }
    .modal__input {
        font-size: 14.5px;
        height: 50px;
    }
    .modal__button {
        width: 239px;
        height: 44px;
        margin-top: 49px;
        font-size: 14px;
    }
    .modal__close {
        left: calc(100% - 29px);
        bottom: calc(100% + 16px);
        width: 20px;
        height: 20px;
    }
}